.contents {
  padding-bottom: 80px; }
  @media screen and (min-width: 768px) {
    .contents {
      padding-bottom: 120px; } }

.mainvisual {
  position: relative; }
  .mainvisual .imageContainer {
    position: relative; }
    .mainvisual .imageContainer img {
      width: 100%; }
    .mainvisual .imageContainer .overText {
      position: absolute;
      left: 5.3%;
      bottom: 30px; }
      @media screen and (min-width: 768px) {
        .mainvisual .imageContainer .overText {
          left: 8.87%;
          bottom: 70px; } }
    .mainvisual .imageContainer .overTextTitle {
      color: var(--white);
      font-size: 25px; }
      @media screen and (min-width: 768px) {
        .mainvisual .imageContainer .overTextTitle {
          font-size: 50px;
          line-height: 1.5; } }
  .mainvisual .thumsWrap {
    white-space: nowrap;
    overflow: auto; }
  .mainvisual .thumbs {
    white-space: nowrap; }
    .mainvisual .thumbs li {
      display: inline-block;
      width: 126px;
      height: 80px; }
      @media screen and (min-width: 768px) {
        .mainvisual .thumbs li {
          width: 190px;
          height: 122px; } }

.curatorSection {
  margin-top: 40px; }
  @media screen and (min-width: 768px) {
    .curatorSection {
      margin-top: 80px; } }
  .curatorSection .sectionTitle {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .curatorSection .sectionTitle .btn {
      font-size: 13px;
      font-weight: 700; }
  .curatorSection .curatorWrap {
    margin-top: 10px; }
  .curatorSection .curatorCard .cardBody {
    padding-left: 56px;
    position: relative; }
    .curatorSection .curatorCard .cardBody .curatorIcon {
      width: 46px;
      height: 46px;
      border-radius: 50%;
      overflow: hidden;
      position: absolute;
      left: 0;
      top: 0; }
      .curatorSection .curatorCard .cardBody .curatorIcon img {
        width: 100%; }
  .curatorSection .curatorCard h3 {
    font-size: 18px;
    text-wrap: auto; }
    @media screen and (min-width: 768px) {
      .curatorSection .curatorCard h3 {
        margin-top: 10px; } }

.restaurantSection {
  margin-top: 40px; }
  @media screen and (min-width: 768px) {
    .restaurantSection {
      margin-top: 60px; } }
  .restaurantSection .cardWrap {
    margin-top: 25px; }
    @media screen and (min-width: 768px) {
      .restaurantSection .cardWrap {
        margin-top: 20px; } }

section.bgGray {
  padding: 40px 0;
  position: relative; }
  @media screen and (min-width: 768px) {
    section.bgGray {
      margin-top: 50px; } }
  section.bgGray::after {
    content: "";
    display: block;
    width: 100vw;
    height: 100%;
    background-color: var(--lightgray);
    position: absolute;
    left: 50%;
    top: 0;
    z-index: -1;
    transform: translateX(-50%); }

.recommendSection {
  margin-top: 40px; }
  @media screen and (min-width: 768px) {
    .recommendSection {
      margin-top: 60px; } }
  .recommendSection .cardWrap {
    margin-top: 25px; }

/*# sourceMappingURL=style.css.map */