.cardWrap{
    display: flex;
    flex-wrap: wrap;
    gap: 30px 20px;
    margin-top: 40px;
    @media screen and (min-width: 768px) {
        gap: 60px 20px;
        margin-top: 90px;
    }

    .card{
        flex: none;
        width: calc(50% - 10px);
        @media screen and (min-width: 768px) {
            width: calc(25% - 15px);
        }

        .thumb{
            width: 100%;

            a{
                display: block;
                padding-top: 68%;
                width: 100%;
                border-radius: 10px;
                overflow: hidden;
                position: relative;
            }

            picture{
                display: block;
                width: 100%;
                max-width: 100%;
                border-radius: 10px;
                overflow: hidden;
                position: absolute;
                top: 0;
                left: 0;
            }

            img{
                width: auto;
                min-width: 100%;
                max-width: 100%;
                height: auto;
                min-height: 100%;
                max-height: 100%;
            }
        }

        h3{
            margin-top: 10px;
            font-size: 15px;
            font-weight: 700;
            line-height: 1.4;
            @media screen and (min-width: 768px) {
                margin-top: 15px;
                line-height: 1.5;
            }
        }

        .tagWrap{
            display: flex;
            margin-top: 5px;
            font-size: 12px;
            @media screen and (min-width: 768px) {
                margin-top: 14px;
            }

            .ttl{
                display: inline-block;
                width: 40px;
                line-height: 1;
                @media screen and (min-width: 768px) {
                    width: 40px;
                    font-size: 13px;
                }
            }

            .tags{
                display: flex;
                flex-wrap: wrap;
                width: calc(100% - 40px);
            }

            .tag{
                line-height: 1;
            }

            a{
                color: #656565;
                font-size: 12px;
                @media screen and (min-width: 768px) {
                    font-size: 13px;
                }
            }
        }
    }
}

.cardWrap.column-1{
    gap: 0;

    .card{
        width: 100%;

        .thumb{
            a{
                padding-top: 33%;
            }
        }
    }
}

.cardWrap.column-2{
    gap: 25px 40px;

    .card{
        width: 100%;
        @media screen and (min-width: 768px) {
            width: calc(50% - 20px);
        }
    }
}

.cardWrap.column-3{
    gap: 40px;

    .card{
        width: 100%;
        @media screen and (min-width: 768px) {
            width: calc(33% - 25px);
        }
    }
}

.cardWrap.column-sp-1{
    @media screen and (max-width: 767px) {
        gap: 25px;

        .card{
            width: 100%;
        }
    }
}


.cardWrap.column-sp-2-pc-3{
    @media screen and (min-width: 768px) {
        margin-top: 30px;
    }
    .card{
        @media screen and (min-width: 768px) {
            width: calc(33% - 10px);
        }
    }
}

.cardWrap.inline{
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    overflow-x: auto;
    margin-top: 0;
    @media screen and (min-width: 768px) {
        gap: 40px;
        overflow-x: inherit;
    }

    .card{
        display: inline-block;
        width: 260px;
        vertical-align: top;
        @media screen and (min-width: 768px) {
            margin: 0;
            width: calc(33.33% - 28px);
        }

        .thumb{

            a{
                padding-top: 100%;
            }
        }

        .tagWrap{
            margin-top: 14px;
            font-size: 13px;

            a{
                font-size: 13px;
            }
        }
    }
}