.cardWrap{
    display: flex;
    flex-wrap: wrap;
    gap: 30px 20px;
    margin-top: 40px;
    @media  screen and (min-width: 768px) {
        gap: 60px 20px;
        margin-top: 90px;
    }

    .card{
        width: calc(50% - 10px);
        @media  screen and (min-width: 768px) {
            width: calc(25% - 15px);
        }

        .thumb{
            width: 100%;
            border-radius: 10px;
            overflow: hidden;
        }

        h3{
            margin-top: 10px;
            font-size: 15px;
            font-weight: 700;
            line-height: 1.4;
            @media  screen and (min-width: 768px) {
                margin-top: 15px;
                line-height: 1.5;
            }
        }

        .tagWrap{
            display: flex;
            margin-top: 5px;
            font-size: 12px;
            @media  screen and (min-width: 768px) {
                margin-top: 14px;
            }

            .ttl{
                display: inline-block;
                width: 40px;
                line-height: 1;
                @media  screen and (min-width: 768px) {
                    width: 40px;
                    font-size: 13px;
                }
            }

            .tags{
                display: flex;
                flex-wrap: wrap;
                width: calc(100% - 40px);
            }

            .tag{
                line-height: 1;
            }

            a{
                color: #656565;
                font-size: 12px;
                @media  screen and (min-width: 768px) {
                    font-size: 13px;
                }
            }
        }
    }
}