html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

input[type="text"]{
    background-color: var(--white);
}

button{
    background-color: var(--white);
}

.hidden{
    display: none !important;
}

.isSP{
    @media screen and (min-width: 768px) {
        display: none;
    }
}

.isPC{
    display: none;
    @media screen and (min-width: 768px) {
        display: inherit;
    }
}

.wrap{
    // overflow: hidden;
    overflow: clip;
    padding-top: 59px;
    @media screen and (min-width: 768px) {
        padding-top: 110px;
    }
}

.contents{
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
    max-width: 1140px;
}

.pageTitle{
    font-size: 25px;
    font-weight: 700;
    @media screen and (min-width: 768px) {
        font-size: 50px;
    }
}

.sectionTitle{
    font-size: 20px;
    font-weight: 700;
    @media screen and (min-width: 768px) {
        font-size: 24px;
    }
}

.viewAllButton{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0 30px;
    width: 200px;
    height: 60px;
    font-size: 16px;
    font-weight: 700;
    background-color: var(--white);
    border: 1px solid #707070;
    border-radius: 30px;
    @media screen and (min-width: 768px) {
        width: 260px;
        height: 75px;
        font-size: 18px;
        border-radius: 38px;
    }

    &:hover{
        color: var(--white);
        background-color: var(--orange);
    }
}

a.defaultLink{
    transition: all 0.3s ease;
    &:hover{
        color: var(--orange);
    }
}

.defaultButton{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0 0;
    padding: 20px 40px;
    height: 55px;
    font-weight: 700;
    background-color: var(--white);
    border: 1px solid #707070;
    border-radius: 40px;
    transition: all 0.3s ease;
    @media screen and (min-width: 768px) {
        height: 76px;
    }

    &:hover{
        color: var(--white);
        background-color: var(--orange);
    }
}