a{
    text-decoration: none;
}

.hidden{
    display: none !important;
}

.isSP{
    @media  screen and (min-width: 768px) {
        display: none;
    }
}

.isPC{
    display: none;
    @media  screen and (min-width: 768px) {
        display: inherit;
    }
}

.wrap{
    overflow: hidden;
}

.contents{
    margin: 0 auto;
    padding: 0 18px;
    width: 100%;
    max-width: 1126px;
}

.pageTitle{
    font-size: 25px;
    font-weight: 700;
    @media  screen and (min-width: 768px) {
        font-size: 50px;
    }
}

.sctionTitle{
    font-size: 20px;
    font-weight: 700;
    @media  screen and (min-width: 768px) {
        font-size: 24px;
    }
}
