.headerWrap{
    position: relative;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;

    @media screen and (min-width: 768px){
        position: inherit;
    }
}

.headerFlexBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 20px;
    width: 100%;
    background-color: var(--white);
    scrollbar-width: none;
    -ms-overflow-style: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;

    &::-webkit-scrollbar {
        display: none;
        width: 0;
    }
    @media screen and (min-width: 768px){
        justify-content: space-between;
        padding: 30px 30px 26px;
    }

    .logo{
        width: 80px;
        @media screen and (min-width: 768px){
            width: 110px;
        }

        img{
            width: 100%;
        }
    }

    .rightGroup{
        @media screen and (min-width: 768px){
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
    }

    .naviBox{
        display: none;
        overflow-x: auto;
        white-space: nowrap;
        text-align: right;
        overflow: auto;
        @media screen and (min-width: 768px){
            display: block;
        }

        ul{
            display: inline-flex;
            padding: 0 22px;

            & > li{
                flex-shrink: 0;

                & + li{
                    margin-left: 30px;
                }

                & > a, & > button{
                    display: block;
                    font-size: 19px;
                    font-weight: 700;
                }
            }
        }
    }

    .searchBox{
        display: none;
        padding: 15px 20px 22px;
        width: 100%;
        background-color: var(--white);
        position: absolute;
        top: 56px;
        left: 0;
        z-index: 0;
        opacity: 0;
        transition: opacity 0.3s ease;

        @media screen and (min-width: 768px){
            padding: 0;
            max-width: 674px;
            position: absolute;
            top: 50%;
            left: auto;
            right: 280px;
            transform: translateY(-50%);
        }

        &.visible{
            display: block;
            z-index: 2;
            opacity: 1;
        }
    }

    .searchBoxInner{
        display: flex;
        border: 1px solid #CCCCCC;
        border-radius: 20px;
        position: relative;

        @media screen and (min-width: 768px){
            border-radius: 28px;
        }

        &.open{
            border-radius: 20px 20px 20px 0;

            & > .filterBox{
                border-radius: 20px 0 0 0;
            }
        }
    }

    .filterBox{
        background-color: #F7F7F7;
        border-right: 1px solid #CCCCCC;
        border-radius: 20px 0 0 20px;
        position: relative;
        @media screen and (min-width: 768px){
            border-radius: 26px 0 0 26px;
        }

        &.visible{
            border-radius: 20px 0 0 0;
            @media screen and (min-width: 768px){
                border-radius: 26px 0 0 0;
            }

            .filterSelector{
                display: block;
                opacity: 1;
            }
        }
    }

    .selectedItem{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 130px;
        height: 40px;
        font-size: 13px;
        font-weight: 700;
        background-color: transparent;
        position: relative;
        @media screen and (min-width: 768px){
            width: 184px;
            height: 52px;
            font-size: 18px;
        }

        &::after{
            content: "";
            display: block;
            width: 28px;
            height: 28px;
            background-image: url(../images/icon_arrow_select_button.svg);
            background-repeat: no-repeat;
            background-position: 0 0;
            background-size: contain;
            position: absolute;
            right: -3px;
            top: 50%;
            transform: translateY(-50%);
            @media screen and (min-width: 768px){
                right: 0;
            }
        }
    }

    .filterSelector{
        display: none;
        opacity: 0;
        width: 100%;
        text-align: center;
        border-right: 1px solid #CCCCCC;
        background-color: var(--white);
        position: absolute;
        top: calc(100% + 1px);
        left: 0;
        z-index: 1;
        transition: opacity 0.3s ease;

        &.visible{
            display: block;
            opacity: 1;
        }

        .item{
            padding: 5px 0;
            font-size: 14px;
            font-weight: 700;
            cursor: pointer;
            @media screen and (min-width: 768px){
                padding: 13px 0;
                font-size: 18px;
            }

            &:not(:first-child){
                border-top: 1px solid #EAE7E7;
            }

            &:hover{
                color: var(--orange);
            }

            &.selected{
                color: var(--white);
                background-color: var(--orange);
            }
        }
    }

    .keywordInput{
        padding: 5px 36px 5px 10px;
        width: 100%;
        height: 40px;
        border: 0;
        background-color: transparent;
        @media screen and (min-width: 768px){
            padding: 12px 24px;
            width: 100%;
            height: 54px;
            border-radius: 0;
        }

        &:focus-visible{
            outline: none;
            box-shadow: none;
            outline-offset: 0;
        }
    }

    .searchButton{
        width: 27px;
        height: 27px;
        background-image: url(../images/icon_arrow_circle_orange_.svg);
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: contain;
        position: absolute;
        top: 50%;
        right: 6px;
        transform: translateY(-50%);
        @media screen and (min-width: 768px){
            width: 43px;
            height: 43px;
            border-radius: 50%;
        }
    }

    .rightBox{
        display: flex;
        align-items: center;
        @media screen and (min-width: 768px){
            margin-left: auto;
            padding-left: 50px;
        }
    }

    .searchBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;

        .iconScorp {
            width: 15px;
            height: 15px;
        }
    }

    .translation{
        margin-left: 30px;
        width: 50px;
        text-align: center;
        position: relative;

        button{
            display: flex;
            align-items: center;
            width: 60px;
            font-family: "Outfit", sans-serif;
            font-size: 18px;
            cursor: pointer;
        }

        span{
            margin-left: 5px;
            line-height: 1;
        }
    }

    .languages, .languages_sub{
        display: none;
        padding: 0 10px;
        width: 60px;
        background-color: var(--white);
        box-shadow: 0 3px 6px rgba(0,0,0,0.12);
        position: absolute;
        left: 0;
        top: -14px;
        opacity: 0;
        transition: opacity 0.3s ease;

        &.visible{
            display: block;
            opacity: 1;
        }

        li{
            &:last-child{
                a{
                    border: 0;
                }
            }
        }

        a{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 58px;
            color: #AAAAAA;
            font-family: "Outfit", sans-serif;
            font-size: 18px;
            border-bottom: 1px solid #D5D5D5;

            &:hover{
                color: var(--orange);
            }
        }
    }

    .mapButton{
        display: none;
        margin-left: 30px;
        line-height: 1;
        @media screen and (min-width: 768px){
            display: block;
        }

        button{
            display: flex;
            align-items: center;
        }

        span{
            @media screen and (min-width: 768px){
                margin-left: 7px;
                font-family: "Outfit", sans-serif;
                font-size: 18px;
                font-weight: 500;
            }
        }
    }

    .menuBtn{
        margin-left: 30px;
        width: 26px;
        height: 26px;
        position: relative;
        @media screen and (min-width: 768px){
            display: none;
        }

        &::before, &::after{
            content: "";
            position: absolute;
            top: 50%;
            left: 0%;
            width: 26px;
            height: 1px;
            background: #333333;
        }

        &::before {
            margin-top: -5px;
        }
           
        &::after {
            margin-top: 5px;
        }
    }

}

.headerNavigation{
    padding: 15px 0 25px;
    overflow-x: auto;
    white-space:nowrap;
    text-align: center;
    position: relative;
    z-index: 1;
    @media screen and (min-width: 768px){
        display: none;
    }

    .naviFlexBox{
        white-space:nowrap;
        padding: 0 22px;
        @media screen and (min-width: 768px){
            text-align: center;
        }
    
        li{
            display: inline-block;
            line-height: 1.2;
            @media screen and (min-width: 768px){
                border: 0;
            }

            & + li{
                margin-left: 20px;
                padding-left: 20px;
                border-left: 1px solid #707070;
            }

            &:last-child{
                padding-right: 20px;
            }
        }

        a{
            display: block;
            padding: 0;
            font-size: 15px;
            font-weight: 700;
            @media screen and (min-width: 768px){
                padding: 0 20px;
            }
        }

        span{
            padding-left: 5px;
            font-size: 16px;
            font-weight: 700;
            @media screen and (min-width: 768px){
                font-size: 19px;
            }
        }
    }
}

.hamburgerWrapper{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 0 0 0 40px;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: opacity 0.5s ease;
    @media screen and (min-width: 768px){
        display: none !important;
    }

    &.visible{
        display: block;
        opacity: 1;
    }
}

.hamburgerBg{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}

.hamburgerContent{
    margin: 0 0 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    position: relative;
    z-index: 1;
}

.hamburgerHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px 10px 10px;
    background-color: var(--orange);

    .closeBtn{
        width: 20px;
        height: 20px;
        background-color: transparent;
        position: relative;

        &::before, &::after{
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 1px;
            height: 19px;
            background: var(--white);
        }

        &::before {
            transform: translate(-50%,-50%) rotate(45deg);
        }
           
        &::after {
            transform: translate(-50%,-50%) rotate(-45deg);
        }
    }
}

.hamburgerBody{
    margin-top: 34px;
    height: calc(100% - 90px);
    overflow-y: auto;
}

.hamburgerList{
    padding-bottom: 60px;
}

.hamburgerItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 25px;
    border-top: 1px solid #EAE7E7;

    & > a{
        display: flex;
        align-items: center;
        font-size: 19px;
        font-weight: 700;
    }

    & > span{
        display: flex;
        align-items: center;
        font-size: 19px;
        font-weight: 700;
    }
    
    .subMenuBtn{
        width: 28px;
        height: 28px;
        position: relative;

        &::before, &::after{
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 1px;
            height: 28px;
            background: #333333;
        }

        &::before {
            margin-top: -4px;
            transform: translate(-50%,-50%) rotate(90deg);
        }
        
        &::after {
            margin-top: 4px;
            transform: translate(-50%,-50%) rotate(-90deg);
        }
    }

    .subMenu{
        display: none;
        margin: 25px -25px 0;
        padding: 20px 0 0 25px;
        width: calc(100% + 50px);
        border-top: 1px solid #EAE7E7;
    }

    &.visible{
        .subMenuBtn{
            &::before {
                margin: 0;
            }
            
            &::after {
                display: none;
            }
        }

        .subMenu{
            display: block;

            a{
                display: block;
                position: relative;

                &::after{
                    content: "";
                    display: block;
                    width: 8px;
                    height: 8px;
                    border-right: 1px solid #707070;
                    border-bottom: 1px solid #707070;
                    position: absolute;
                    right: 25px;
                    top: 10px;
                    transform: rotate(-45deg);
                    
                }

            }
        }
    }

    .subMenuList{

        & > li{

            & + li{
                margin-top: 10px;
            }

    
            & > a, & > span{
                font-size: 16px;
            }

        }

    }

    .subsubMenuList{
        margin-top: 10px;

        & > li{

            & + li{
                margin-top: 10px;
            }

            & > a{
                display: block;
                padding: 0 50px 0 14px;
                font-size: 16px;

                &::before{
                    content: "";
                    display: block;
                    width: 8px;
                    height: 1px;
                    border-top: 1px solid #707070;
                    position: absolute;
                    left: 0;
                    top: 14px;
                }
            }

        }

    }
}

.eatMenuContent{
    display: none;
    padding: 40px 50px;
    width: 100%;
    max-width: 1100px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    box-shadow: 0 3px 10px rgba(0,0,0,0.16);
    @media screen and (max-width: 767px){
        display: none;
    }

    &.is-open{
        display: block;
    }

    .eatMenu{

        .eatMenuButtons{
            display: flex;

            li{

                & + li{
                    margin-left: 25px;
                }

                a{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 20px;
                    width: 210px;
                    height: 72px;
                    font-size: 16px;
                    font-weight: 700;
                    border: 1px solid #D5D5D5;
                    border-radius: 4px;
                    position: relative;

                    &::after{
                        content: "";
                        display: block;
                        width: 6px;
                        height: 6px;
                        border-right: 2px solid #000;
                        border-bottom: 2px solid #000;
                        position: absolute;
                        right: 17px;
                        top: 50%;
                        transition: transform 0.3s ease;
                        transform: translateY(-50%) rotate(-45deg);
                    }

                    &:hover{
                        color: var(--white);
                        background-color: var(--orange);

                        &::after{
                            border-right: 2px solid #fff;
                            border-bottom: 2px solid #fff;
                            transform: translateY(-50%) translateX(3px) rotate(-45deg);
                        }
                    }
                }
            }
        }
    }

    .eatGenre{
        margin-top: 30px;
        padding-top: 30px;
        border-top: 1px solid #D5D5D5;

        .eatGenreTitle{
            font-size: 16px;
            font-weight: 700;
        }

        .eatGenreButtons{
            margin-top: 20px;

            li{
                display: inline-block;

                &::after{
                    content: "ã€€";
                }

                a{
                    font-size: 14px;
                    font-weight: 400;

                    &:hover{
                        color: var(--orange);
                        font-weight: 700;
                    }
                }

            }
        }
    }
}

.searchKeywordForm{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #F8F8F8;

    &.is-hidden{
        display: none;
    }

    &Inner{
        padding: 0;
        width: 100%;
        max-width: 678px;
        position: relative;

        &::after{
            content: "";
            display: block;
            width: 1px;
            height: 30px;
            border-left: 1px solid #EAE7E7;
            position: absolute;
            right: 44px;
            top: 50%;
            transform: translateY(-50%);
            @media screen and (min-width: 768px){
                right: 48px;
            }
        }
    }

    .keywordInput{
        padding: 7px 60px 7px 15px;
        width: 100%;
        font-size: 13px;
        background-color: var(--white);
        border: 1px solid #D5D5D5;
        border-radius: 10px;
        @media screen and (min-width: 768px){
            font-size: 18px;
        }

        &:focus-visible{
            outline: none;
            box-shadow: none;
            outline-offset: 0;
        }
    }

    .searchButton{
        position: absolute;
        right: 14px;
        top: 50%;
        transform: translateY(-50%);

        .iconScorpOrange{
            width: 16px;
            height: 15px;
            @media screen and (min-width: 768px){
                width: 19px;
                height: 17px;
            }
        }
    }
}