
@import "reset";
@import 'variables';
@import 'icons';
@import 'default';
@import 'card';
@import 'tag';
@import 'pagination';
@import 'modalFilter';

body{
    color: var(--black);
    font-family: "Noto Sans JP", sans-serif;
    font-size: 14px;
    line-height: 1.75;
    background-color: var(--white);
    @media  screen and (min-width: 768px) {
        font-size: 16px;
        line-height: 1.75;
    }
}

@import "header";
@import "footer";