
@import "reset";
@import 'variables';
@import 'icons';
@import 'default';
@import 'card';
@import 'tag';
@import 'pagination';
@import 'modalFilter';

// モック
// body{
//     background-image: url(../../_mock/記事詳細_SP.jpg);
//     background-size: 100% auto;
//     background-repeat: no-repeat;
//     background-position: 50% 1833px;
//     opacity: 0.6;
// }

body{
    color: var(--black);
    font-family: "Noto Sans JP", sans-serif;
    font-size: 14px;
    line-height: 1.75;
    background-color: var(--white);
    @media screen and (min-width: 768px) {
        font-size: 16px;
        line-height: 1.75;
    }
}

@import "header";
@import "footer";