.contents{
    padding-bottom: 80px;
    @media screen and (min-width: 768px) {
        padding-bottom: 120px;
    }
}

.mainvisual{
    position: relative;

    .imageContainer{
        position: relative;

        img{
            width: 100%;
        }
        
        .overText{
            position: absolute;
            left: 5.3%;
            bottom: 30px;
            @media screen and (min-width: 768px) {
                left: 8.87%;
                bottom: 70px;
            }
        }

        .overTextTitle{
            color: var(--white);
            font-size: 25px;
            @media screen and (min-width: 768px) {
                font-size: 50px;
                line-height: 1.5;
            }
        }
    }

    .thumsWrap{
        white-space:nowrap;
        overflow: auto;
    }

    .thumbs{
        display: inline-block;
        white-space:nowrap;

        li{
            display: inline-block;
            width: 126px !important;
            height: 80px !important;
            @media screen and (min-width: 768px) {
                width: 190px !important;
                height: 122px !important;
            }
        }
    }

}

.curatorSection{
    margin-top: 40px;
    @media screen and (min-width: 768px) {
        margin-top: 80px;
    }

    .sectionTitle{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .btn{
            font-size: 13px;
            font-weight: 700;
        }
    }

    .curatorWrap{
        margin-top: 10px;
    }

    .curatorCard{

        .cardBody{
            padding-left: 56px;
            position: relative;

            .curatorIcon{
                width: 46px;
                height: 46px;
                border-radius: 50%;overflow: hidden;
                position: absolute;
                left: 0;
                top: 0;

                img{
                    width: 100%;
                }
            }
        }

        h3{
            font-size: 18px;
            text-wrap: auto;
            @media screen and (min-width: 768px) {
                margin-top: 10px;
            }
        }
    }
}

.restaurantSection{
    margin-top: 40px;
    @media screen and (min-width: 768px) {
        margin-top: 60px;
    }

    .cardWrap{
        margin-top: 25px;
        @media screen and (min-width: 768px) {
            margin-top: 20px;
        }
    }
}

section.bgGray{
    padding: 40px 0;
    position: relative;
    @media screen and (min-width: 768px) {
        margin-top: 50px;
    }

    &::after{
        content: "";
        display: block;
        width: 100vw;
        height: 100%;
        background-color: var(--lightgray);
        position: absolute;
        left: 50%;
        top: 0;
        z-index: -1;
        transform: translateX(-50%);
        @media screen and (min-width: 768px) {
            width: 100vw;
        }
    }
}

.recommendSection{
    margin-top: 40px;
    @media screen and (min-width: 768px) {
        margin-top: 60px;
    }

    .cardWrap{
        margin-top: 25px;
    }
}

.bx-wrapper{
    max-width: 100% !important;
    box-shadow: 0 0 0 0 !important;
    border: 0 !important;
}